<!DOCTYPE html>
<html lang="es" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Enlaces ejercicios</h1>
<ul>
    <li><a th:href="@{/hora}">Ejercicio1 - Hora actual</a></li>
    <br>
    <li><a th:href="@{/frase}">Ejercicio2 - Frase aleatoria</a></li>
    <br>
    <li><a th:href="@{/dado}">Ejercicio3 - Dado numAleatorio</a></li>
    <br>
    <li><a th:href="@{/password}">Ejercicio4 - Contraseña</a></li>
    <br>
    <li><a th:href="@{/personaje}">Ejercicio5 - Personaje</a></li>
    <br>
    <li><a th:href="@{/saludoHora}">Ejercicio6 - Saludo Temporal</a></li>
    <br>
    <li><a th:href="@{/estudiante}">Ejercicio7 - Estudiate</a></li>

</ul>
</body>
</html>