<!DOCTYPE html>
<html lang="es" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Personaje</title>
</head>
<body>
<p> Nombre:  <span th:text="${persona.nombre}"></span></p>
<p> Clase:  <span th:text="${persona.clase}"></span></p>
<p> Nivel:  <span th:text="${persona.nivel}"></span></p>
<p> Arma:  <span th:text="${persona.arma}"></span></p>

<div th:object="${persona}">
    <p> Nombre:  <span th:text="*{nombre}"></span></p>
    <p> Clase:  <span th:text="*{clase}"></span></p>
    <p> Nivel:  <span th:text="*{nivel}"></span></p>
    <p> Arma:  <span th:text="*{arma}"></span></p>
</div>
</body>
</html>